.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 50px;
  background-color: #72bc8e;
}

.brand {
  font-weight: bold;
  font-size: 1rem;
}

.nameColor {
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  min-height: 100px;
  background-color: #72bc8e;
}

.appName {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.routes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
}

.routes > li > a {
  margin: 7px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}
