.input {
  padding: 10px;
  width: 100%;
  border-color: #72bc8eaa;
  border-radius: 2px;
  outline: none;
  box-sizing: border-box;
  background: #fff;
  margin-top: 1%;
  color: #555;
}

.input:first-of-type {
  margin-top: 0;
}

.label {
  padding-block: 0.5rem;
}

.input:focus {
  outline-color: #72bc8e;
  box-shadow: 0 0 20px rgba(0, 255, 76, 0.25);
}

.inputError {
  border-color: #f00;
}

.messageError {
  display: flex;
  align-items: center;
  height: 21px;
  font-size: 14px;
  color: #f00;
}
