<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindSet</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/adminStyles.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="../js/adminsList.js"></script>
  </head>
  <body>
    <header>
      <a id="mindSetLogo" href="/"><span>Mind</span>SET</a>
      <nav>
        <a id="adminsNav" href="/views/adminsList.html">admins</a>
        <a href="/views/applicationsList.html">applications</a>
        <a href="/views/clientsList.html">clients</a>
        <a href="/views/interviewsList.html">interviews</a>
        <a href="/views/positionsList.html">positions</a>
        <a href="/views/profilesList.html">profiles</a>
        <a href="/views/psychologistsList.html">psychologists</a>
        <a href="/views/sessionsList.html">sessions</a>
        <a href="/views/postulantsList.html">postulants</a>
      </nav>
    </header>
    <div class="container">
      <h2 class="header">Admins</h2>
      <table class="list">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody id="table-content">
            <!-- Content is added by the DB  -->
        </tbody>
      </table>
      <button class="button" id="addAdmin" type="button">
        Add Admin
      </button>
    </div>
    <div class="backgroundModal">
      <div class="containerModal"> 
        <div class="headerModal">
          <p>
            Caution!
          </p>
        </div>
        <div class="bodyModal">
          <p>
            Are you sure you want to delete this Admin?
          </p>
          <p class="closeButt">
            Cancel 
          </p>
          <p class="acceptButt">
            Accept 
          </p>   
        </div>
      </div> 
    </div>
    <footer>
      <div>© Nico's group, Radium Rocket "Become a Software Developer 2021"</div>
    </footer>
  </body>
</html>