<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="../js/profilesForm.js"></script>
  </head>
  <body>
    <header>
      <a id="mindSetLogo" href="/"><span>Mind</span>SET</a>
      <nav>
        <a id="adminsNav" href="/views/adminsList.html">admins</a>
        <a href="/views/applicationsList.html">applications</a>
        <a href="/views/clientsList.html">clients</a>
        <a id="interviewsNav" href="/views/interviewsList.html">interviews</a>
        <a href="/views/positionsList.html">positions</a>
        <a href="/views/postulantsList.html">postulants</a>
        <a id="profilesNav" href="/views/profilesList.html">profiles</a>
        <a href="/views/psychologistsList.html">psychologists</a>
        <a href="/views/sessionsList.html">sessions</a>
      </nav>
    </header>
    <div class="container">
      <h2 class="header">Profiles Form</h2>
      <form id="form">
        <input id="name" name="name" placeholder="Profile Name" type="string" required/>
        <input id="branch" name="branch" placeholder="Branch" type="string" required/>
        <input id="description" placeholder="Description" name="description" type="string" required/>
        <div id="error_massage"></div>
        <input id="saveButton" class="button" type="submit" value="Send">
      </form>
    </div>
    <footer>
      <div>© Nico's group, Radium Rocket "Become a Software Developer 2021"</div>
    </footer>
  </body>
</html>